* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #fff9f9;
}

header {
    background-color: #b0ffde;
}

li {
    list-style: none;
}

label {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1.25rem;
}

.main-carousel img {
    margin: 0 !important;
}

.delete-button {
    position: absolute;
    right: 24px;
    top: 24px;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    border: 1px solid #007bff;
}

.selected {
    background-color: #d3e8ff !important;
}

input[type="number"] {
    max-width: 52px;
    margin-left: 24px;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    padding: 8px;
}

.modal-footer p {
    margin-right: 52px !important;
    font-size: 1.25rem;
}

.validationMessage + .validationMessage {
    display: none;
}

.validationMessage {
    color: #FF4444;
}

.loading-wrapper {
    height: 100vh;
}

.loader {
    animation: animateLoader 2s linear infinite;
}

@keyframes animateLoader {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}